/* .itemPage_container{
  display: flex;
  justify-content: center;
} */

.itemPage_image{
  object-fit: cover;
  min-height: 250px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 5px 5px #d0d0d0;
}
.item_description{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width:300px
}

.itemPage_container{
display:flex;
align-items: center;
justify-content: center;

}

.itemPage_container2{
  
   width: 300px;

   padding-top: 20px;
  }